
#icon h2 {
    font-family: 'Butcherman', cursive;
    font-family: 'Fredericka the Great', cursive;
    font-size:32pt;
}
#icon p {
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Kalam', cursive;
    font-family: 'Merienda', cursive;
}
#top-inner {
    background-color: rgb(231, 233, 227);
    text-align: center;
    opacity: 0.8;
    padding: 10px;
}
#top-inner p {
    font-family: 'Courier New', Courier, monospace;
    color: #242222;
}
.fa {
    padding: 20px;
    font-size: 30px;
}
#slogan {
    color: brown;
}
body {
    background: linear-gradient(rgb(71, 28, 7), black);
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: lighten;
}
body h3 {
    text-align: center;
    color: white;
    font-family: 'Butcherman', cursive;
    font-family: 'Fredericka the Great', cursive;
    font-family: 'Abril Fatface', cursive;
}
h4 {
    color: white;
}
h6 {
    font-family: 'Fascinate', cursive;
    font-size: 1.3em;
    color: rgb(250, 142, 1);
}
#showorder {
    text-align: center;
}
.btn {
    float: right;
}
.table {
    opacity: 0.8;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.2em;
    color:rgb(241, 76, 35);
}
form label {
    color: rgb(241, 76, 35);
    font-weight: bold;
    font-size: 1.1em;
    font-family: 'Butcherman', cursive;
    font-family: 'Fredericka the Great', cursive;
}
#del {
    color:rgb(201, 126, 14);
    text-align: center;
    font-family: 'Butcherman', cursive;
    font-family: 'Fredericka the Great', cursive;
    font-size: 1.5em;
    font-weight: bold;
}
#cart h4 {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2em;
}
#logo {
    width: -100%;
}
.par {
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Kalam', cursive;
    font-weight: bold;
}
.card-body a , button {
    font-family: 'Butcherman', cursive;
    font-family: 'Fredericka the Great', cursive;
    font-family: 'Abril Fatface', cursive; 
    
}

.card-body a , button{
    border:none;
    background: rgb(241, 78, 3);
    outline: none;
}
.card-body par {
    color: rgb(133, 45, 11);
}
option {
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Kalam', cursive;
    font-family: 'Merienda', cursive;
}
#footer {
    background-color: rgb(0, 0, 0);
    color: rgb(201, 91, 17);
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Kalam', cursive;
    font-family: 'Merienda', cursive;
    height: 50vh;
    border-radius: 5px;
}

#footer p {
    word-spacing:2px;
    font-size: 21pt;
}
#footer a{
    color:white;
}

#cl {
    color: rgb(117, 63, 19);
}
.sub {
    color: white;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Kalam', cursive;
    font-family: 'Merienda', cursive;
}
#subscribe {
    color:rgb(201, 126, 14);
    text-decoration: underline;
}
input[type=reset] {
    background-color: black;
    color:white;
}
button[type=submit] {
    border-color:orangered;
    color: orangered;
    background-color: black;
}
button[type=submit]:hover{
    border-radius: 30px;
    background: rgb(241, 90, 2);
    outline: none;
    border:none;
    color:black;
}
#message{
    background: rgb(44, 43, 43);
    border: none;
    color: white;
    transition: all 0.2s ease;
    padding: 7px;
    opacity:0.7;
  }
/* SCROLL BAR STYLING*/
body::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(0, 0, 0);
  }
  body::-webkit-scrollbar-thumb {
    background-color: rgb(223, 71, 11);
    border-radius: 30px;
  }